<!DOCTYPE html>
<h1>HD Festivalterrein</h1>

<div class="text-center">
  <h2 class="display-4">Welkom</h2>
  <p>
      Welkom op HD Festivalterrein. Wij organiseren allerlei verschillende soorten festivals, van muziekfestivals tot demonstraties.
  </p>
    <h2>Huidig evenement</h2>
    <p>De gouwe ouwen - 24-30 september 2020</p>
</div>
<div style="background-image: url('img_girl.jpg');">