<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="site.css">
    
</head>
<body>
    <h1>HD Festivalterrein</h1>

    <div class="text-center">
        <h2 class="display-4">Welkom</h2>
        <p>
            Welkom op HD Festivalterrein. Wij<br/> organiseren allerlei verschillende soorten<br/> festivals, van muziekfestivals tot<br/> demonstraties.
        </p>
        <h2>Huidig evenement</h2>
        <p>De gouwe ouwen - 24-30 september 2020</p>
        <a href=""
    </div>
    <div style="background-image: url('https://festival.travel/festivalnl/uploads/2018/01/Tomorrowland-1024x682.jpg');"></div>
</body>