body {
    font-family: Pacifico;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

header {
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ffestival.travel%2Fblog%2Ftop-12-festivals-in-belgie%2F&psig=AOvVaw0D6Oy_9XqJn2LoObDuRqD_&ust=1583580404068000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKCd7u_ehegCFQAAAAAdAAAAABAD")
}



