<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        @RenderBody()
        <style>
            div {
                background-image: url('/img/tomorrowland.jpg');
            }
        </style>
    </body>
</html>

